* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fdfdfd;
  background-color: #025628;
  background-image: url(../img/account-information-bg.png);
  background-size: cover;
  background-repeat: repeat;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 7%;
}

nav img {
  width: 28rem;
}

nav button {
  background-color: transparent;
}

nav svg {
  width: 8rem;
  color: #fdfdfd;
}

h1 {
  margin-top: 1em;
  color: #f8bc24;
  text-align: center;
  font-size: 3em;
  margin-bottom: 1em;
}

.account-img-row {
  display: flex;
  justify-content: center;
}

.account-img-row .account-img-box img {
  width: 16rem;
  margin: 2rem 0 0.8rem;
}

.account-img-row .account-img-box .upload-photo {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  column-gap: 5%;
  justify-content: center;
  margin-bottom: 2rem;
}

.account-img-row .account-img-box .upload-photo svg {
  width: 1rem;
}

.data-box {
  padding: 2em 7% 4em;
}

.data-box .data-diri-row {
  display: flex;
  padding: 2% 0;
  justify-content: space-between;
}

.data-box .data-diri-row h3,
.data-box .data-diri-row p {
  font-size: 2em;
}

.button-row {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.button-row .button-wrapper .button-box .button {
  padding: 0.8em 7%;
  margin: 7% 0;
  width: 10em;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  box-shadow: 0em 0.2em 0.9em rgba(253, 253, 253, 0.467);
}

.button-row .button-wrapper .button-box #edit-profile-button {
  background-color: #2aba12;
}

.button-row .button-wrapper .button-box #log-out-button {
  background-color: #e54040;
}

.button-row .button-wrapper .button-box .button h4 {
  font-weight: 800;
  color: #fdfdfd;
}

.menubar {
  display: flex;
  justify-content: space-between;
  padding: 1% 7%;
  background-color: #04863f;
  position: fixed;
  width: 100vw;
  bottom: 0;
  right: 0;
  left: 0;
}

.menubar .menubar-features {
  text-align: center;
}

.menubar .menubar-features p {
  color: #fdfdfd;
  font-size: 1.5em;
}

.menubar .menubar-features #icon-ragakita {
  position: fixed;
  left: 2em;
  bottom: 1em;
  width: 11em;
}

.menubar .menubar-features #ball,
.menubar .menubar-features #riwayat,
.menubar .menubar-features #fake,
.menubar .menubar-features #akun {
  width: 5em;
}

/* Media Queries */

/* Surface */
@media (max-width: 920px) {
  /* responsive break points */
  html {
    font-size: 70%;
  }
}

/* Ipad */
@media (max-width: 825px) {
  /* responsive break points */
  html {
    font-size: 62.5%;
  }
}

/* Surface Duo */
@media (max-width: 545px) {
  /* responsive break points */
  html {
    font-size: 45%;
  }
}

/* Mobile Phone */
@media (max-width: 420px) {
  /* responsive break points */
  html {
    font-size: 50%;
  }
}

/* Pixel 5 */
@media (max-width: 395px) {
  /* responsive break points */
  html {
    font-size: 45%;
  }
}
