:root {
  --primary: #1a4645;
  --bg: #051821;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  background-color: var(--bg);
  color: #fdfdfd;
}

/* Header section */

header .headclass .headsection {
  width: 100%;
  display: flex;
  padding: 2rem 2%;
}

header .headclass .headsection #logo {
  height: 7rem;
  width: 3.8rem;
}

header .headclass .headsection #logo-tulisan {
  height: 5rem;
  width: 20rem;
  margin-left: 1rem;
  padding-top: 2rem;
}

/* Content Section */
.content form {
  justify-content: center;
  display: flex;
  justify-content: center;
  padding: 2rem 35%;
}

.content form .input-group {
  width: 100%;
  font-family: "Roboto", sans-serif;
}
.content form .input-group .form-input input {
  height: 3.3rem;
  width: 100%;
  border-radius: 1.3rem;
  padding-left: 1rem;
}
.content form .input-group .form-input p svg {
  height: 1.3rem;
  width: 1.3rem;
  padding-top: 0.3rem;
  cursor: pointer;
}

.content form .input-group .form-input p {
  margin-right: 0.5rem;
}

/* CTA Section */
.register-cta {
  display: flex;
  justify-content: center;
  margin-bottom: 17rem;
}

.register-cta a {
  color: rgb(54, 168, 239);
}

.register-cta p {
  opacity: 0.8;
}

.register-cta a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid rgb(54, 168, 239);
  transform: scaleX(0);
}

.register-cta a:hover::after {
  transform: scaleX(0.8);
  transition: 0.2s linear;
}

/* Button Section */
.group-button {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.group-button {
  padding: 2rem 33%;
}

.group-button #back-button {
  width: 100%;
  height: 3.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  cursor: pointer;
}

.group-button #login-button {
  background-color: #1a4645;
  width: 100%;
  height: 3.5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: #fdfdfd;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.group-button #back-button svg {
  stroke-width: 0.1rem;
}

.group-button #login-button:hover {
  background-color: #4cadac;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  /* responsive break points */
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 820px) {
  /* responsive break points */
  html {
    font-size: 75%;
  }

  header {
    margin-bottom: 3rem;
  }

  .content form {
    padding: 2rem 18%;
  }

  .group-button {
    padding: 2rem 25%;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  /* responsive break points */
  html {
    font-size: 75%;
  }
  header {
    display: flex;
    justify-content: center;
  }
  .register-cta {
    display: flex;
    justify-content: center;
    margin-bottom: 19rem;
  }
  .content form {
    padding: 2rem 8%;
  }

  .group-button {
    padding: 2rem 8%;
  }
}

/* mini */
@media (max-width: 360px) {
  /* responsive break points */
  html {
    font-size: 65%;
  }
}
