:root {
  --primary: #03863e;
  --secondary: #092c2b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  background-image: url(../img/bg-struk.png);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 7%;
  background-color: rgba(1, 1, 1, 0.3);
  border-bottom: 1px solid #fdfdfd79;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar svg {
  stroke-width: 0.1rem;
  cursor: pointer;
  opacity: 0.8;
}

.backdrop {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.719);
  backdrop-filter: blur(1.5rem);
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
}

.backdrop .content .content-text {
  display: flex;
  flex-wrap: wrap;
  padding: 9rem 20% 1rem;
  text-align: center;
  justify-content: center;
  color: rgb(255, 255, 255, 0.9);
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.317);
}

.backdrop .content .content-text h1 {
  letter-spacing: 0.2rem;
  font-size: 3.3rem;
}

.backdrop .content .content-text p {
  font-weight: 600;
  padding: 0rem 22%;
}

/* struk section */
.backdrop .content .struk {
  background-color: transparent;
  padding: 1rem 31%;
}

.backdrop .content .struk-topbar {
  background-color: var(--secondary);
  border-top-right-radius: 4rem;
  border-top-left-radius: 4rem;
}

.backdrop .content .struk-topbar img {
  position: relative;
  top: 1.8rem;
  left: 0.8rem;
}

.backdrop .content .struk .struk-file {
  color: var(--secondary);
  padding: 1rem 0;
  background-color: aliceblue;
}

.backdrop .content .struk .struk-botbar {
  padding: 1rem 0;
  background-color: var(--secondary);
  border-bottom-right-radius: 4rem;
  border-bottom-left-radius: 4rem;
  padding: 1.5rem 0;
}

.backdrop .content .struk .struk-file {
  color: var(--primary);
  text-align: center;
}

.backdrop .content .struk .struk-file .content-text-satu {
  border-bottom: 0.15rem dashed rgba(113, 107, 107, 0.55);
  padding: 0rem 5%;
  padding-bottom: 1rem;
}

.backdrop .content .struk .struk-file .content-text-satu h1 {
  color: var(--secondary);
  text-align: center;
  font-size: 3.5rem;
}

.backdrop .content .struk .struk-file .content-text-satu h2 {
  text-align: center;
  letter-spacing: 0.2rem;
}

.backdrop .content .struk .struk-file .content-text-satu p {
  color: var(--primary);
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.backdrop .content .struk .struk-file .content-text-dua {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3%;
  border-bottom: 0.15rem dashed rgba(113, 107, 107, 0.55);
}

.backdrop .content .struk .struk-file .content-text-dua-kategori {
  text-align: left;
  color: black;
}

.backdrop .content .struk .struk-file .content-text-dua-jawaban {
  text-align: right;
  color: black;
  font-weight: 600;
}

.backdrop .content .struk .struk-file .content-text-tiga {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3%;
  border-bottom: 0.15rem dashed rgba(113, 107, 107, 0.55);
}

.backdrop
  .content
  .struk
  .struk-file
  .content-text-tiga
  .content-text-tiga-kategori
  h3 {
  font-weight: 400;
}

.backdrop
  .content
  .struk
  .struk-file
  .content-text-tiga
  .content-text-tiga-jawaban
  h3 {
  font-weight: 600;
}

.backdrop .content .struk .struk-file .content-text-tiga-kategori {
  text-align: left;
  color: black;
}

.backdrop .content .struk .struk-file .content-text-tiga-jawaban {
  text-align: right;
  color: black;
  font-weight: 600;
}
.backdrop .content .struk .struk-file .content-text-empat {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3%;
  padding-bottom: 5rem;
}

.backdrop
  .content
  .struk
  .struk-file
  .content-text-empat
  .content-text-empat-kategori
  h3 {
  font-weight: 400;
}

.backdrop
  .content
  .struk
  .struk-file
  .content-text-empat
  .content-text-empat-jawaban
  h3 {
  font-weight: 600;
}

.backdrop .content .struk .struk-file .content-text-empat-kategori {
  text-align: left;
  color: black;
}

.backdrop .content .struk .struk-file .content-text-empat-jawaban {
  text-align: right;
  color: black;
  font-weight: 600;
}

.backdrop .button .button-size {
  display: flex;
  justify-content: center;
  padding: 1rem 31% 5rem;
}

.backdrop .button .button-size button {
  padding: 1rem 15%;
  margin: 0rem 4%;
  border-radius: 1.5rem;
  cursor: pointer;
  background-color: #2aba12;
  font-weight: 700;
  box-shadow: 0.3rem 0.4rem 0.5rem rgba(255, 255, 255, 0.2);
}

.backdrop .button .button-size .button-download {
  background-color: #2aba12;
  color: #fdfdfd;
}

.backdrop .button .button-size .button-download:hover {
  background-color: #18640b;
  color: #fdfdfd;
}

.backdrop .button .button-size .button-home {
  background-color: #f8bc24;
  color: #fdfdfd;
}

.backdrop .button .button-size .button-home:hover {
  background-color: #a47c17;
  color: #fdfdfd;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  /* responsive break points */
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 820px) {
  /* responsive break points */
  html {
    font-size: 62.5%;
  }
  .backdrop .content .content-text {
    padding: 9rem 18% 1rem;
  }

  .backdrop .content .content-text p {
    font-weight: 600;
    padding: 0rem 20%;
  }
  .backdrop .content .struk {
    background-color: transparent;
    padding: 1rem 20%;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  /* responsive break points */
  html {
    font-size: 45%;
  }
  .backdrop .content .content-text {
    padding: 13rem 15% 1rem;
  }

  .backdrop .content .content-text p {
    padding: 0rem 12%;
  }

  .backdrop .content .struk {
    padding: 3rem 20% 2rem;
  }
}

@media (max-width: 360px) {
  /* responsive break points */
  html {
    font-size: 45%;
  }
  .backdrop .content .content-text {
    padding: 14rem 2% 1rem;
  }

  .backdrop .content .content-text p {
    font-weight: 600;
    padding: 0rem 20%;
  }
}
